.category-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.category-title-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.03em;
    font-family: 'Unbounded', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #845DF3 0%, #C099FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 30px 5px 10px;
    text-align: center;
}
